
@import "./../../styles/config"

.home
	&__wrap
		width: 100%
		display: flex

	&__inner
		flex: 1 1 0
		float: left

		&:first-child
			margin-right: 20px

		&:last-child
			display: flex

	&__block
		border-radius: 2px
		background-color: #ffffff
		box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12)

		&.half
			width: 227px
			height: 104px
			overflow: hidden

		&.price,
		&.orders
			flex: 1 1 0

		&.price
			float: left
			margin-right: 32px
			border-left: 4px solid #31708f

			svg
				fill: rgb(49, 112, 143)

		&.orders
			border-left: 4px solid #ff9800

			svg
				fill: rgb(255, 152, 0)

		&__info
			height: 100%
			max-width: 140px
			display: flex
			float: left
			padding-top: 15px
			padding-bottom: 15px
			align-items: center
			flex-wrap: wrap

			@media (min-width: 600px)
				padding-left: 24px
				padding-right: 24px

		&__count
			display: block
			font-size: em(24)
			line-height: em(20)
			font-weight: 400
			color: rgba(0, 0, 0, .87)

		&__sbt
			font-size: em(14)
			line-height: em(21)
			color: rgba(0, 0, 0, .54)

		&__icon
			padding: 14px
			float: right

		&.standard
			margin: 32px 0
			//max-width: 485px
			padding: 16px 24px 8px

		&__title
			overflow: hidden
			font-size: em(24)
			line-height: em(33)
			color: rgba(0, 0, 0, .87)

		&__content
			font-size: em(14)
			line-height: em(21)

		&__footer
			display: flex
			justify-content: flex-end
			@media (min-width: 600px)
				padding: 8px 0 0 12px

			.link
				display: flex
				min-width: 88px
				padding: 8px 16px
				align-items: center
				font-weight: 500
				font-size: em(14)
				line-height: em(20)
				border-radius: 2px
				text-decoration: none
				text-transform: uppercase
				color: rgba(0, 0, 0, .87)
				transition: background-color 250ms cubic-bezier(.4, 0, .2, 1) 0ms,box-shadow 250ms cubic-bezier(.4, 0, 0.2, 1) 0ms
				svg
					margin-right: .5em

				&:hover
					background-color: rgba(0, 0, 0, .08)

		&.large
			padding: 16px 0 8px

			h2
				padding: 0 24px
			.link
				display: flex
				padding: 8px 24px
				align-items: center
				text-decoration: none
				justify-content: space-between
				transition: background-color .2s ease-in-out

				&:hover
					background: rgba(0, 0, 0, .08)

			.home__block__img
				margin-right: 20px

			.date, .time, .price
				color: rgba(0, 0, 0, .87)

			.buyer, .count
				font-size: em(15)
				line-height: em(19)
				color: rgba(0, 0, 0, .54)

		&__content
			flex: 1

		&__list
			max-height: 736px
			overflow-x: hidden
			overflow-y: auto

		&.list
			max-height: 832px
			padding-bottom: 15px
			overflow: hidden

			.home__block__content
				padding-right: 24px
				//width: 136.5px
				line-height: 46px

			.link
				display: flex
				padding: 8px 0 8px 24px
				align-items: center
				text-decoration: none
				justify-content: space-around
				transition: background-color .2s ease-in-out

			img
				width: 50px
				margin-right: 16px
				padding: 3px
				float: left
				border-radius: 50%
				border: 2px solid #4caf50

			.text
				overflow: hidden
				display: -webkit-box
				-webkit-line-clamp: 2
				color: rgba(0, 0, 0, .54)
				-webkit-box-orient: vertical

			.home__block__item
				transition: background-color .2s ease-in-out

				&:hover
					background-color: rgba(0, 0, 0, .08)

			&.reviews
				.home__block__content
					line-height: em(18)

				img
					border-color: #f44336

		&.reviews
			flex: 1 1 0
			margin-right: 20px
			border-left: 4px solid #f44336

			.home__block__icon
				svg
					fill: #f44336
			.text
				margin-top: 5px

		&.customers
			flex: 1 1 0
			border-left: 4px solid #4caf50

			.home__block__icon
				svg
					fill: #4caf50

			.link
				color: rgba(0, 0, 0, .87)








