
@import "./../../styles/config"

header
  width: 100%
  min-height: 64px
  padding: 0 24px
  display: flex
  color: #fff
  flex-wrap: wrap
  align-items: center
  background-color: #283593
  justify-content: space-between
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, .12)

.header
  &__block
    display: flex
    align-items: center
    justify-content: space-between

  &__menu
    &-show
      width: 48px
      height: 48px
      margin-right: 10px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      transition: background-color .3s ease-in-out
      cursor: pointer
      svg
        fill: #fff
        float: left

      &:hover
        background-color: rgba(#fff, .4)
  &__title
    font-size: em(18)
    font-weight: 700
    user-select: none
  &__logOut
    height: 38px
    padding: 15px
    display: flex
    cursor: pointer
    border-radius: 3px
    align-items: center
    border: 1px solid #fff
    font-size: em(13)
    font-weight: 700
    user-select: none
    text-transform: uppercase
    justify-content: space-between
    transition: background-color .3s ease-in-out

    svg
      fill: #fff
      margin-right: 10px

    &:hover
      background-color: rgba(#fff, .4)


